<section id="back" class="call-to p-5 bg-green">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="call-contact d-flex align-items-center">
                    <i class="fas fa-phone-alt display-6 cl-white"></i>
                    <div class="pl-3">
                        <h4 class="cl-white">有问题？要反馈？</h4>
                        <p class="m-0 cl-white">(+86) 8888 8888 8888</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <p class="call-to-mid cl-white">联系我们并且提交反馈，我们会悉心听取您的意见！</p>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <a href="/feedback-page" class="btn btn-white">提交反馈</a>
            </div>
        </div>
    </div>
</section>
