<footer id="footer" class="footer bg-ftblue">
    <div class="footer-wrap">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="ft-lists">
                        <h3 class="cl-white">友情链接</h3>
                        <ul class="d-flex flex-column">
                            <li><a href="http://www.pptsd.com/">医疗百科网</a></li>
                            <li><a href="http://www.chls.net/">医学教育网</a></li>
                            <li><a href="http://www.pharmnet.com.cn/">中国医药网</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="ft-lists">
                        <h3 class="cl-white">联系我们</h3>
                        <ul class="d-flex flex-column">
                            <li><a href="#">地址：XXX XXX</a></li>
                            <li><a href="#">官网：www.xxx.com</a></li>
                            <li><a href="#">电话：8888 6666</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="ft-lists">
                        <h3 class="cl-white">便捷通道</h3>
                        <ul class="d-flex flex-column">
                            <li><a href="/illnesses">查看疾病百科</a></li>
                            <li><a href="/medicines">我要查找药品</a></li>
                            <li><a href="/doctor">智能医生</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="ft-lists">
                        <h3 class="cl-white">网站理念</h3>
                        <p class="cl-white">
                            智慧医药您提供疾病查询,常见疾病大全,帮您全面了解疾病病因症状、检查治疗、饮食护理等信息,是您疾病查询的好帮手。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-main p-3 bg-footer-blue">
        <div class="container">
            <div class="copyright-text d-flex justify-content-between">
                <p class="cl-white m-0">© 2026 智慧医药系统.</p>
            </div>
        </div>
    </div>
</footer>
