<form id="search" action="/illnesses" class="ct-searchForm">
    <div class="inner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div class="form-group">
                        <input id="cf-search-form" type="text" placeholder="搜索一下，了解更多 ..." required class="form-control" name="illnessName">
                        <button class="ct-search-btn"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="form-group">
                        <a href="#" class="ct-searchForm-close">
                            <i class="fa fa-times" style="color: white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
