{% extends "base.html" %}
{% block body_class %}{% endblock %}
{% block back %}{% include "common/back.html" %}{% endblock %}
{% block content %}

<div id="dashboard">
    <div class="container">
        <div class="dashboard-main">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    {% with cur='doctor' %}{% include "common/sidebar.html" %}{% endwith %}
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard-content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="message">
                                    <div class="message-header inbox-item">
                                        <div class="inbox-image">
                                            <img src="/static/assets/images/team/user-2.jpg" alt="image">
                                        </div>
                                        <div class="inbox-content">
                                            <p>智能在线医生</p>
                                            <span>你的专属医生，随时为您服务！</span>
                                        </div>
                                    </div>
                                    <div class="message-content">
                                        <div id="messages" style="height:260px;overflow-y:auto">
                                            <div class="msg-received">
                                                <div class="msg-image">
                                                    <img src="/static/assets/images/team/user-2.jpg" alt="image">
                                                </div>
                                                <div class="msg-content">
                                                    <p>现在</p>
                                                    <p class="msg">{{ loginUser.user_name if loginUser else '用户' }}你好，我是您的智能专属医生，身体不舒服或者有任何需要咨询的问题，都可以向我提问，我会全心全意为您解答！</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="msg-reply">
                                            <textarea id="message" placeholder="输入要咨询的内容..."></textarea>
                                            <button onclick="send()" class="btn btn-na mt-2 pull-right">发送</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script>
    window.onload = messageInit;
</script>
{% endblock %}
