{% extends "base.html" %}
{% block body_class %}{% endblock %}
{% block back %}{% include "common/back.html" %}{% endblock %}
{% block content %}

<div id="dashboard">
    <div class="container">
        <div class="dashboard-main">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard-sidebar">
                        <div class="profile-sec">
                            <div class="author-news mb-3">
                                <div class="author-news-content text-center p-3">
                                    <div class="author-thumb mt-0">
                                        <img src="/static/assets/images/illness.jpeg" alt="author">
                                    </div>
                                    <div class="author-content pt-2 p-0">
                                        <h3 class="mb-1 white"><a href="#" class="white">{{ illness.illness_name if illness else '' }}</a></h3>
                                        <p class="detail">{{ illness.include_reason if illness else '' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left:20px;margin-right:20px">
                            <h3>一般症状：</h3>
                            <p style="text-indent:2em;">{{ illness.illness_symptom if illness else '' }}</p>
                        </div>
                        <div style="margin-left:20px;margin-top:30px;margin-bottom:30px">
                            <h3>特殊症状：</h3>
                            <p style="text-indent:2em;">{{ illness.special_symptom if illness else '' }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard-content">
                        <div class="dashboard-review single-comments">
                            <div class="comments">
                                <div style="margin-top:30px;text-align:center"><h3>相关药物如下</h3></div>
                                {% if medicine %}
                                {% for me in medicine %}
                                <div class="comment-box d-flex align-items-center justify-content-between">
                                    <div class="comment-image">
                                        <a href="/medicine/{{ me.id }}">
                                            <img src="{{ me.img_path }}" alt="image" onerror="this.onerror=null;this.src='/static/assets/images/default-medicine.svg'">
                                        </a>
                                    </div>
                                    <div class="comment-content" style="width:800px;height:150px">
                                        <a href="/medicine/{{ me.id }}">
                                            <h5 class="m-0">{{ me.medicine_name }}</h5>
                                        </a>
                                        <p class="comment-date mb-2">{{ me.medicine_brand }}牌</p>
                                        <span class="num-rating white">{{ '西药' if me.medicine_type == 0 else ('中药' if me.medicine_type == 1 else '中成药') }}</span>
                                        <span class="comment-title"><i>"是药三分毒，切忌不要乱吃药！"</i></span>
                                        <p class="comment mt-2">{{ me.medicine_effect[:200] if me.medicine_effect else '' }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="comment-box d-flex align-items-center justify-content-between">
                                    <div style="text-align:center;width:100%;height:80%;padding-top:-50px">
                                        <h3>暂无相关药品，请联系管理员添加！</h3>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
